<div class="container">
    <h4 class="pt-1">Informações</h4>
    <p>Bem-vindo à nossa página web! Aqui você encontrará informações detalhadas sobre nossa empresa, produtos e
        serviços. Nós nos esforçamos para fornecer a melhor experiência para nossos clientes e estamos comprometidos em
        atender suas necessidades da melhor maneira possível.</p>
    <br />
    <p> Nossa empresa tem uma história de sucesso no mercado e estamos orgulhosos de oferecer produtos de alta qualidade
        a preços acessíveis. Oferecemos uma ampla gama de produtos para atender às necessidades de nossos clientes,
        desde eletrônicos a produtos para casa e lazer.
    </p>
    <br />
    <p> 
    Nosso objetivo é fornecer o melhor atendimento ao cliente possível, e nossa equipe de suporte está sempre pronta
    para ajudar. Se você tiver alguma dúvida sobre nossos produtos ou serviços, não hesite em entrar em contato conosco.
    </p> 
    <br />
    <p> 
    Nós valorizamos seus comentários e opiniões, então, por favor, sinta-se à vontade para nos deixar um feedback.
    Estamos sempre buscando melhorar nossos produtos e serviços para atender às suas necessidades.
    </p> 
    <br />
    <p> 
    Obrigado por visitar nossa página web e esperamos ter o prazer de atendê-lo em breve!</p>
</div>