<div class="container">
    <ol class="breadcrumb m-2">
        <li class="breadcrumb-item">{{ professor.id ? ' Professor atualização' : 'Professor cadastro' }}</li>
    </ol>
    <form class="mt-1">
        <div class="row">
            <div class="col-sm-2">
                <label for="nome">Número</label>
                <input type="number" class="form-control" id="numero" name="numero" [(ngModel)]="professor.numero" disabled="true">
            </div>
            <div class="col-sm-10">
                <label for="nome">Nome</label>
                <input type="text" class="form-control" id="nome" placeholder="Digite o nome do professor" [(ngModel)]="professor.nome" name="nome">
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <label for="nome">Herói</label>
                <input type="text" class="form-control" id="nomeHeroi" placeholder="Digite o nome do Herói" name="nomeHeroi" [(ngModel)]="professor.nomeHeroi">
            </div>
            <div class="col-sm-6">
                <label for="Estado">Escola</label>
                <select class="form-control" [ngModelOptions]="{standalone: true}" [(ngModel)]="professor.escola.id">
                    <option value="">Selecione...</option>
                    <option *ngFor="let escola of escolas" [ngValue]="escola.id">{{ escola.nome }}</option>
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <label for="nome">Individualidade</label>
                <input type="text" class="form-control" id="individualidade" name="individualidade" [(ngModel)]="professor.individualidade">
            </div>
        </div>
        <div class="row justify-content-between m-1">
            <button *ngIf="professor.id" type="submit" class="btn btn-success"><i class="fa fa-save"></i> Atualizar</button>
            <button *ngIf="!professor.id" class="btn btn-success"><i class="fa fa-save"></i> Cadastrar</button>
            <button type="button" class="btn btn-dark ml-2" [routerLink]="['/professor']">Professores</button>
        </div>
    </form>
</div>